ENVIRONMENT=development

DB_USER=
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=5432
DB_NAME=election_db
BIOMETRIC_DB_NAME=biometric_db

FRONTEND_ORIGIN=http://localhost:5173
MANTRA_DLL_PATH=C:\\Program Files\\Mantra\\MFS100\\Driver\\MFS100Test\\MANTRA.MFS100.dll

ENCRYPTION_KEY=
RESEND_API_KEY=
RESEND_FROM_EMAIL=